# Summer Olympics Data Analysis Assignment

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as m
df=pd.read_csv("summer.csv")
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

### 1. In how many cities Summer Olympics is held so far?

In [22]:
count =0
for C in df['City'].unique():
    count=count+1
count

22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [23]:
x = df[df['Medal'] == 'Gold']
gold = []
for i in x['Sport'].unique():
    gold.append([i, len(x[x['Sport'] == i])])
gold = pd.DataFrame(gold, columns = ['Sport', 'Medals'])
gold = gold.sort_values(by = 'Medals', ascending = False).head()
gold

         Sport  Medals
0     Aquatics    1421
1    Athletics    1215
17      Rowing     890
4   Gymnastics     820
3      Fencing     552

In [ ]:
gold.plot(x = 'Sport', y = 'Medals', kind = 'bar', color = 'gold', figsize = (6,6))

### 3. Which sport is having most number of medals so far? (Top 5)

In [24]:
tm = []
for m in df['Sport'].unique():
    tm.append([m, len(df[df['Sport'] == m])])
tm = pd.DataFrame(tm, columns = ['Sport', 'Total Medals'])
tm = tm.sort_values(by = 'Total Medals', ascending = False).head()
tm

         Sport  Total Medals
0     Aquatics          4170
1    Athletics          3638
17      Rowing          2667
4   Gymnastics          2307
3      Fencing          1613

### 4. Which player has won most number of medals? (Top 5)

In [ ]:
at = []
for ap in df['Athlete'].unique():
    at.append([ap, len(df[df['Athlete'] == ap])])
at = pd.DataFrame(at, columns = ['Player', 'Total Medals'])
at = at.sort_values(by = 'Total Medals', ascending = False).head()
at

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [ ]:
x = df[df['Medal'] == 'Gold']
plgold = []
for i in x['Athlete'].unique():
    plgold.append([i, len(x[x['Athlete'] == i])])
plgold = pd.DataFrame(plgold, columns = ['Player', 'Gold Medals'])
plgold = plgold.sort_values(by = 'Gold Medals', ascending = False).head()
plgold

### 6. In which year India won first Gold Medal in Summer Olympics?

In [ ]:
x = df[df['Medal'] == 'Gold']
y = x.loc[x['Country'] == 'IND']
y.iloc[0]

### 7. Which event is most popular in terms on number of players? (Top 5)

In [ ]:

eve = []
for i in df['Event'].unique():
    eve.append([i, len(df[df['Event'] == i])])
eve = pd.DataFrame(eve, columns = ['Event', 'Total Players'])
eve = eve.sort_values(by = 'Total Players', ascending = False).head()
eve

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [ ]:

x = df[df['Medal'] == 'Gold']
f = x[x['Gender'] == 'Women']
wgold = []
for i in f['Sport'].unique():
    wgold.append([i, len(f[f['Sport'] == i])])
wgold = pd.DataFrame(wgold, columns = ['Sport', 'Female Gold Medalists'])
wgold = wgold.sort_values(by = 'Female Gold Medalists', ascending = False).head()
wgold